<footer class="footer has-background-black">
  <div class="content has-text-centered">
    <div class="columns is-mobile">
        <div class="column is-3 is-offset-4">
            <span class="icon is-large">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-facebook fa-2x"></i>
                </span>
            </span>

            <span class="icon is-large">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-twitter-square fa-2x"></i>
                </span>
            </span>

            <span class="icon is-large">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-instagram fa-2x"></i>
                </span>
            </span>

            <span class="icon is-large">
                <span class="fa-stack fa-lg">
                  <i class="fab fa-youtube-square fa-2x"></i>
                </span>
            </span>
        </div>
    </div>

    <p>
      <strong>Gorillaz Web Page</strong> by <a href="https://jgthms.com">Royer Torrico Uriona</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
