

<div class="columns is-mobile">
  <div  class="column is-3 is-offset-9">

    <aside class="menu has-background-primary has-text-centered">
      <br>
      <p class="menu-label has-text-centered">
        General
      </p>
      <hr>
      <ul class="menu-list">
        <p  id="parrafo" class="is-medium has-text-danger is-size-1-desktop is-family-courier"> royer</p>
        <li><a>Dashboard</a></li>
        <li><a>Customers</a></li>
      </ul>
      <p class="menu-label">
        Administration
      </p>

      <ul class="menu-list">
        <li><a>Invitations</a></li>
        <li><a>Cloud Storage Environment Settings</a></li>
        <li><a>Authentication</a></li>
      </ul>
    
      <p class="menu-label">
        Transactions
      </p>
      <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
      </ul>
    </aside>

    <br><br><br><br><br><br><br><br><br><br>

  </div>

  </div>
