<section class="hero is-black is-large is-fullheight">
  <div id="firstImage" class="hero-body">
    <div class="container has-text-centered"></div>
  </div>
</section>

<section id="secondImage" class="hero is-link is-fullheight" >
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4 is-offset-4">
              <p style="font-size: 30px" class="has-text-centered">
               <strong>ESCUCHA TODAS NUESTRAS NUEVAS CANCIONES</strong>
              </p>
              <br> 
              <a routerLink="/music" class="button is-large is-fullwidth">ESCUCHAR AHORA MISMO</a>
            </div>
        </div>
    </div>
  </div>
</section>

<section id="thirdImage" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4 is-offset-4">
              <p style="font-size: 30px" class="has-text-centered">
               <strong>TE IMAGINAS SER COMO MURDOC O COMO NOODLE.. VEN Y ESCOGE TU PERSONAJE</strong>
              </p>
              <br>
              <a routerLink="/login" class="button is-large is-fullwidth">INICIAR SESION</a>
            </div>
        </div>
    </div>
  </div>
</section>

<section id="fourthImage" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4 is-offset-4">
              <p style="font-size: 30px" class="has-text-centered">
               <strong>¿NO TE GUSTARIA VESTIRTE COMO TU PERSONAJE FAVORITO? HECHALE UN VISTAZO A NUESTRA TIENDA</strong>
              </p>
              <br>
              <a routerLink="/store" class="button is-large is-fullwidth">IR A TIENDA</a>
            </div>
        </div>
    </div>
  </div>
</section>  

<section id="fifthImage" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4 is-offset-4">
              <br><br><br><br><br><br> <br><br><br><br><br><br> 
              <p style="font-size: 30px" class="has-text-centered">
               <strong>VE TODOS NUESTROS VIDEOS...</strong>
              </p>
              <br>
              <a routerLink="/videos" class="button is-large is-fullwidth">VER VIDEOS</a>
            </div>
        </div>
    </div>
  </div>
</section>


<section id="sixthImage" class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4 is-offset-1">
              <p style="font-size: 30px" class="has-text-centered">
               <strong>IT'S THE MUSIC THAT WE CHOOSE...</strong>
              </p>
            </div>
        </div>
    </div>
  </div>
</section>
